* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    background-color: aqua;
    text-align: center;

}
nav ul {

}
nav ul li {
    display: inline;
    padding: 10px;
    
}